.main-sale {
    text-align: center;
    height: 20.5rem;
    width: 17rem;
    background-color: #84bc22;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 0 0 0.5rem;
}

.percent {
    font-size: 100px;
    font-weight: bold;
}

.summer-sale {
    font-size: 26px;
    padding: 1rem 5rem 0rem 5rem;
}