.home-carousel {
    padding: 2.5rem 3rem 0 5.5rem;
}

.sale-social {
    padding: 2.5rem 3.5rem 0 0;
}

.social-home {
    padding-left: 1.5rem;
}

.popular-items {
    margin: 2rem;
    padding: 5rem 2rem 0 1.5rem;
}